.container {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div{
    margin-top: 5vh;
}

form div button {
    width: 100%;
}

mat-icon {
    font-size: 3em;
}