<div class="container">
    <div>
            <mat-icon 
                class="login-icon"
                aria-hidden="false" 
                aria-label="Example home icon"
                >lock</mat-icon>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-element">
            <mat-form-field>
            <mat-label>Email</mat-label>
            <input
                matInput
                type="email" 
                id="email"
                ngModel
                name="email"
                required
                email
                >
            </mat-form-field>
        </div>
        <div class="form-element">
            <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password" 
                id="password"
                ngModel
                name="password"
                required
                minlength="6"
                >
            </mat-form-field>
        </div>
        <div class="form-element">
            <button
                class="form-element-submit"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!authForm.valid">
                Login
            </button>
        </div>
    </form>
</div>


