.container {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element{
    margin-top: 5vh;
}

.form-element-submit {
    width: 100%;
}

.login-icon {
    font-size: 3em;
}