<div class="container">
    <h1>Welcome</h1>
    <h2>The last time you accessed was</h2>
    <div class="result-container">
        <app-timer-item [time]="days" name="days"></app-timer-item>
        <app-timer-item [time]="hours" name="hours"></app-timer-item>
        <app-timer-item [time]="minutes" name="minutes"></app-timer-item>
        <app-timer-item [time]="seconds" name="seconds"></app-timer-item>
    </div>
     <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="logOut()">
        Logout
    </button>
</div>
