.container {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    margin-top: 5vh;
    margin-bottom: 10vh;
}
